h1 {
    border: 2px solid green;
}

.kalkulator {
    max-width: 400px;
}

.sum {
    background-color: black;
    color: white;
    text-align: center;

    border-radius: 16px;
    font-size: 3.2em;

    padding: 10px 0;
    margin: 8px 0;

    min-height: 60px;
    max-height: 120px;
}

.kalkulator-bg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: crimson;
    height: 400px;
    padding: 40px;

    border-radius: 16px;
}

.operator, .tall, #submit {
    border: none;
    border-radius: 16px;
    font-size: 1.6em;
    box-shadow: 4px 4px black;

    margin: 4px;
}

.operator {
    background-color: sandybrown;
}

.tall {
    background-color: lightyellow;
}

#submit {
    background-color: black;
    color: white;

    grid-row: span 2;
}
